<!DOCTYPE HTML>
<html>
<head>
	<title>Tyler Cox</title>
	<link rel="shortcut icon" type="image/png" href="/assets/css/images/tIcon-01.png">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:700" rel="stylesheet" type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<script src="/assets/js/snackBar.js"></script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body onload="document.body.style.opacity='1'; displaySnackbar();">

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Tyler Cox</a></h1>
				<span class="tag">Web Designer &amp; Software Developer</span>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}

	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;There are few more certain tokens of ill than not to know how to accept the good.&rdquo; - The Saga of Grettir</blockquote>
			</section>
		</div>
	</div>


<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<span class="byline">Feel free to follow or contact me.</span>
			</header>
			<ul class="contact">
				<li><a href="https://www.instagram.com/sir_tyz/" class="fa fa-instagram"><span>Instagram</span></a></li>
				<li class="active"><a href="https://plus.google.com/u/0/+sirtytyz" class="fa fa-google-plus"><span>Google+</span></a></li>
				<li><a href="mailto:coxtdc@gmail.com?subject=Website Contact" class="fa fa-envelope"><span>email</span></a></li>
				<li><a href="https://github.com/SirTyz" class="fa fa-github"><span>GitHub</span></a></li>
			</ul>
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		Built By: Tyler Cox with TEMPLATED
	</div>
</div>

<!-- Snackbar -->
<div id="snackbar">Pardon the mess! Website still under construction.</div>

</body>
</html>
